<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicTacToe</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="titulo">Ta-Te-Ti</div>
      <div class="tablero" id="tablero">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>
      <button id="restartButton">Restart</button>
      <div class="mensaje"></div>

      <div
        style="list-style-type: none; margin-top: 10px;"
        class="loginContainer"
      >
        <li>
          <a href="/logout">Logout</a>
        </li>
      </div>
    </div>

    <script src="/script/script.js"></script>
  </body>
</html>
