@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@mixin positionCenter {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$cellHeight: 80px;
$imgWidth: 60px;
$fontRoboto: Roboto, Arial, Helvetica, sans-serif;

:root {
  --shadowElementColor: rgb(173, 171, 19);
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 35px;
}

h4 {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-family: $fontRoboto;
}

.pagination {
  margin-top: 20px;
  display: flex;
  font-size: 25px;
  justify-content: space-evenly;
  font-weight: bold;
}

.page-items {
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-items:hover {
  opacity: 0.5;
  font-size: 28px;
  transform: translateY(-2px);
}
