*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
}

.g {
  background-color: yellow;
}

.container {
  width: 500px;
  height: 550px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

.cell.x::before {
  content: 'X';

  animation-name: rainbow;
  animation-duration: 1s;
}

.ganadora {
  background-color: green;
}

@keyframes rainbow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cell.o::before {
  content: 'O';
  animation-name: rainbow;
  animation-duration: 1s;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:last-child,
.cell:nth-child(3),
.cell:nth-child(6) {
  border-right: none;
}

#restartButton {
  margin-top: 50px;
  margin-left: 40%;
  font-family: Verdana;
  font-size: 25px;
  border: none;
  padding: 7px;
  background-color: cornflowerblue;
}

#restartButton:hover {
  background-color: darkcyan;
}

.mensaje {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
