* {
  padding: 0;
  margin: 0;
}

html body {
  background: #04a1bf;
  font-family: 'Solway', sans-serif;
}

p {
  text-align: center;
}

.title {
  margin-top: 50px;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

.fourth {
  margin-bottom: 25px;
}

.container {
  text-align: center;
}

.inputText {
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
  font-family: Calibri;
  -webkit-box-shadow: 3px 4px 31px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 31px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 31px -6px rgba(0, 0, 0, 0.75);
}

.redField {
  -webkit-box-shadow: -2px 3px 28px 7px rgba(219, 76, 76, 1);
  -moz-box-shadow: -2px 3px 28px 7px rgba(219, 76, 76, 1);
  box-shadow: -2px 3px 28px 7px rgba(219, 76, 76, 1);
}

#enter {
  border: none;
  border-radius: 5px;
}

ul {
  margin: 0 auto;
  margin-top: 30px;
  width: 170px;
  height: 100px;
}

li {
  list-style: none;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  height: 30px;
  line-height: 28px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2px;
  -webkit-box-shadow: 3px 4px 31px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 31px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 31px -6px rgba(0, 0, 0, 0.75);
}

li:nth-of-type(even) {
  background-color: grey;
}

i {
  padding: 5px;
}

.delete {
  display: none;
}

li > button {
  border: none;
  background-color: transparent;
  line-height: 28px;
  font-size: 20px;
  float: right;
  margin-right: 10px;
}
