@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@mixin positionCenter {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$cellHeight: 80px;
$imgWidth: 60px;
$backgroundColor: blue;
$fontRoboto: Roboto, Arial, Helvetica, sans-serif;

* {
  padding: 0;
  margin: 0;
}

h4 {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-family: $fontRoboto;
}

.navBar {
  background-color: #f7f5f4;
  padding: 5px;
  display: flex;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 250px;
  margin: 10px;
  height: 300px;
  font-size: 8px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  .name {
    position: absolute;
    color: white;
    text-align: right;
    bottom: 0;
    right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 12px #000000;
  }
  .personajeImg {
    width: 250px;
    height: 100%;
  }
}

.card:hover {
  opacity: 0.8;
  border: 1px solid lightseagreen;
}
.marvelLogo {
  width: 50px;
  margin: 5px;
}

#lineNavBar {
  height: 25px;
  margin-left: 20px;
  border: 1px solid grey;
}

.searchBar {
  background-color: transparent;
}

#searchInput {
  background-color: #e7e6e6;
  border: none;
  height: 20px;
  outline: none;
  margin-left: 10px;
  margin-top: 3px;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.searchIcon {
  margin-left: -20px;
}

.favIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: rgb(218, 189, 28);
}

.favList {
  position: absolute;
  right: 15px;
  top: 3px;
  font-size: 25px;
  font-family: Girassol, Helvetica, sans-serif;
}

.favList:hover {
  opacity: 0.7;
  cursor: pointer;
}

.noResults {
  font-size: 55px;
  font-weight: bold;
  margin-left: 25%;
  margin-top: 20%;
}

.comicContainer {
  width: 450px;
  height: 450px;
  background-color: whitesmoke;
  border: 1px solid rgb(213, 231, 219);
  @include positionCenter;
  overflow: auto;
  padding: 25px;
  position: fixed;
}

.favContainer {
  width: 450px;
  height: 450px;
  background-color: whitesmoke;
  border: 1px solid rgb(213, 231, 219);
  @include positionCenter;
  overflow: auto;
  padding: 25px;
  position: fixed;
  z-index: 2;
}

.comicListContainer {
  display: flex;
}

table {
  margin-top: 33px;
}

.imagenComic {
  height: 75px;
  width: $imgWidth;
  margin-right: 10px;
  -webkit-box-shadow: 2px 3px 21px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 21px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 21px -2px rgba(0, 0, 0, 0.75);
}

.imagenComic:hover {
  opacity: 0.8;
}

.comicTable {
  height: $cellHeight;
  font-size: 17px;
  font-family: Bitter, Helvetica, sans-serif;
}

.imgTable {
  height: $cellHeight;
  margin-top: 35px;
}

#comicWord {
  text-align: center;
  font-family: Girassol, Helvetica, sans-serif;
}

#favWord {
  text-align: center;
  font-family: Girassol, Helvetica, sans-serif;
}

button {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.noResultsComics {
  position: absolute;
  top: 175px;
  font-family: Girassol;
}

@media only screen and (max-width: 600px) {
  .comicContainer {
    width: 250px;
    height: 250px;
  }
  #comicWord {
    font-size: 20px;
    left: 55px;
  }
  .noResultsComics {
    top: 100px;
  }
}
